<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/reactive-simulator/src/main/scala/op/stud/example/Architecture1.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="op.stud.example.MyCircuitRunClock"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="reactive-simulator"/>
</launchConfiguration>
